Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [1]:
""" Database is a collection of data, data may be text, image, bool, image, video may be structured or unstructured managed by DBMS software

Data is organized in tables like in Excel having rows and columns indexed which makes it easy to excecute operation for specific index

Database could be of different type it may be relational DB, NoSQL, Cloud database, Distributed DB

""" """ SQL stands for Structured Query Language which is Standard language in relational Database system where tables do follow some relationship with each other Entity-Relationship Diagram used to showcase such relations some eg. MySQL, PostgreSQL, Ms-SQL and OracleSQL

NOSQL stands for Non SQL widely used for non-relational database that doesn't require a fixed schema and it is easy to scale where SQL has just Table based DB NOSQL has 4 different typeof DB Key-value DB (like dictionary) Document DB (stores data in JSON,BSON, or XML docx) Wide-column DB (instead of rows data stored in column much like SQL just column side) Graph DB () """

" Database is a collection of data, data may be text, image, bool, image, video may be structured or unstructured managed by DBMS software\n\nData is organized in tables like in Excel having rows and columns indexed which makes it easy to excecute operation for specific index\n\nDatabase could be of different type it may be relational DB, NoSQL, Cloud database, Distributed DB\n\n SQL stands for Structured Query Language which is Standard language in relational Database system where tables do follow some relationship with each other Entity-Relationship Diagram used to showcase such relations some eg. MySQL, PostgreSQL, Ms-SQL and OracleSQL\n\nNOSQL stands for Non SQL widely used for non-relational database that doesn't require a fixed schema and it is easy to scale where SQL has just Table based DB NOSQL has 4 different typeof DB Key-value DB (like dictionary) Document DB (stores data in JSON,BSON, or XML docx) Wide-column DB (instead of rows data stored in column much like SQL just column side) Graph DB () "

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [2]:
"""
DDL stands for Data Definition Language these are sets of statements
that allows the user to define or modify data structure and objects such 
as Tables
DDL commands are 
CREATE, DROP, TRUNCATE, ALTER 
CREATE command is used to create DB or objects like table, index,function,view
,store procedure and Trigger
                                 <--columns name with datatype--------------------->   
CREATE TABLE IF NOT EXISTS sales (id INT, purchase_no INT,product_name VARCHAR(10),);

Turncate (delete all data inside table)
TURNCATE TABLE sales;

alter (used to add or delete column & its properties)
ALTER TABLE sales
ADD COLUMN purchase_date DATE;

drop used to delete whole db, table, column with data 
ALTER TABLE sales
DROP COLUMN date_of_purchase; # delete column and its data 
DROP TABLE sales; # delete whole table along with its data
"""

'\nDDL stands for Data Definition Language these are sets of statements\nthat allows the user to define or modify data structure and objects such \nas Tables\nDDL commands are \nCREATE, DROP, TRUNCATE, ALTER \nCREATE command is used to create DB or objects like table, index,function,view\n,store procedure and Trigger\n                                 <--columns name with datatype--------------------->   \nCREATE TABLE IF NOT EXISTS sales (id INT, purchase_no INT,product_name VARCHAR(10),);\n\nTurncate (delete all data inside table)\nTURNCATE TABLE sales;\n\nalter (used to add or delete column & its properties)\nALTER TABLE sales\nADD COLUMN purchase_date DATE;\n\ndrop used to delete whole db, table, column with data \nALTER TABLE sales\nDROP COLUMN date_of_purchase; # delete column and its data \nDROP TABLE sales; # delete whole table along with its data\n'

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [3]:
"""
DML stands for Data Manipulation Language, DML Stmts allow us to manipulate
the data in the table
DML commands: INSERT, UPDATE, DELETE, LOCK

INSERT: used to insert data into table
syntax:           <<-here columns              -->>
INSERT INTO sales (id, purchase_no, product_name, purchase_date)
            VALUES (001,1324,'Detergent','2023-01-01')

UPDATE sales
SET purchase_date = '2023-02-16'
WHERE purchase_no = 1324

DELETE- used to delete specific record, row, column. similar to turncate
DELETE FROM sales
Where purchase_no = 1324
"""

"\nDML stands for Data Manipulation Language, DML Stmts allow us to manipulate\nthe data in the table\nDML commands: INSERT, UPDATE, DELETE, LOCK\n\nINSERT: used to insert data into table\nsyntax:           <<-here columns              -->>\nINSERT INTO sales (id, purchase_no, product_name, purchase_date)\n            VALUES (001,1324,'Detergent','2023-01-01')\n\nUPDATE sales\nSET purchase_date = '2023-02-16'\nWHERE purchase_no = 1324\n\nDELETE- used to delete specific record, row, column. similar to turncate\nDELETE FROM sales\nWhere purchase_no = 1324\n"

Q4. What is DQL? Explain SELECT with an example.

In [4]:
"""DQL stands for Data Query Language used for performing queries on the data within schema
this includes SELECT Command

SELECT- used to retrieve data from the DB

select * from sales; # return all the rows and column in sales table 
SELECT purchase_no from sales; #return purchase_no column from sales table
SELECT count(purchase_no) from sales; # return number of non null elements in purchase column
"""

'DQL stands for Data Query Language used for performing queries on the data within schema\nthis includes SELECT Command\n\nSELECT- used to retrieve data from the DB\n\nselect * from sales; # return all the rows and column in sales table \nSELECT purchase_no from sales; #return purchase_no column from sales table\nSELECT count(purchase_no) from sales; # return number of non null elements in purchase column\n'

Q5. Explain Primary Key and Foreign Key.

In [5]:
"""
Primary key is a column whose value exists and is unique for every records in 
the table and one table can't have more than one PK and it can't be of null value
PK is unique identifier of a table

Foreign Key are those column which used to establish relationship of one 
table to one or more table. One Table could have multiple foreign key 
"""

"\nPrimary key is a column whose value exists and is unique for every records in \nthe table and one table can't have more than one PK and it can't be of null value\nPK is unique identifier of a table\n\nForeign Key are those column which used to establish relationship of one \ntable to one or more table. One Table could have multiple foreign key \n"

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [6]:
"""
cursor() is mysql.connector class method used to execute statements & 
to communicate with mysql database. using cursor we can fetch or execute sql 
statements

execute() is cursor method object which accept MySql query as a parameter 
and execute the give query
"""

'\ncursor() is mysql.connector class method used to execute statements & \nto communicate with mysql database. using cursor we can fetch or execute sql \nstatements\n\nexecute() is cursor method object which accept MySql query as a parameter \nand execute the give query\n'

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
                host = 'localhost',
                user = 'abc',
                password = 'password')
mycursor = mydb.cursor()
mycursor.execute('select * from employees.employees')
for i in mycursor.fetchall():
    print(i)
mydb.close()

ModuleNotFoundError: No module named 'mysql'

Q7. Give the order of execution of SQL clauses in an SQL query.

Order of SQL Query Execution based on SQL Clauses as follows

FROM clause
WHERE clause
SELECT clause
GROUP BY clause
HAVING clause
ORDER BY clause