In [1]:
#Consider following code to answer further questions:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [4]:
"""
loc: use user defined indexes (this could be int or string or any function in its args)

iloc: use inbuild index (args could be only of int type)

"""

'\nloc: use user defined indexes (this could be int or string or any function in its args)\n\niloc: use inbuild index (args could be only of int type)\n\n'

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [6]:
##Did you observe any difference in both the outputs? If so then explain it. Consider the below code to answer further questions:##

import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]

Creating a dataframe:

In [7]:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [8]:
# import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
index = [l for l in range(1,7)]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = index)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.275070  0.206866  0.229494  0.447147  0.995953  0.227358
2  0.474350  0.332377  0.038456  0.114219  0.221277  0.986472
3  0.888485  0.118170  0.397698  0.592095  0.532019  0.768232
4  0.098085  0.938339  0.428493  0.211230  0.944158  0.330271
5  0.572985  0.703714  0.653220  0.505990  0.655008  0.645923
6  0.764288  0.545493  0.514176  0.007893  0.426231  0.296730

In [9]:
reindex = [3,0,1,2]
new_df = df1.reindex(reindex)
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.888485  0.118170  0.397698  0.592095  0.532019  0.768232
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.275070  0.206866  0.229494  0.447147  0.995953  0.227358
2  0.474350  0.332377  0.038456  0.114219  0.221277  0.986472

In [10]:
print(new_df.iloc[2],"\n") # this print row currently at row no 2 

print(new_df.loc[2]) # print index = 2

column_1    0.275070
column_2    0.206866
column_3    0.229494
column_4    0.447147
column_5    0.995953
column_6    0.227358
Name: 1, dtype: float64

column_1    0.474350
column_2    0.332377
column_3    0.038456
column_4    0.114219
column_5    0.221277
column_6    0.986472
Name: 2, dtype: float64

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [11]:
# mean of each column 
df1.mean()

column_1    0.512211
column_2    0.474160
column_3    0.376923
column_4    0.313096
column_5    0.629108
column_6    0.542498
dtype: float64

In [12]:
# standard deviation of column_2
df1['column_2'].std()

0.3135354427207425

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the

In [14]:
df1['column_2'][2] ="errorcreation"

In [ ]:
#typeerror as mean could be calculated only for the numeric values

df1['column_2'].mean()

Q6. What do you understand about the windows function in pandas and list the types of windows functions?

In [ ]:
Window functions allow us to perform computations among the values of a specified column.

For example, I might want to compare today’s stock price with yesterday’s — then I would want a window of “1” looking backwards.

A window function allows us to do that. If on the other hand, I want to compare today’s price with the price 1 year ago, then I would want a window of “356” (assuming weekends are in your dataset).

Types:

1)Rolling window
2)Weighted window
3)Expanding window
4)Exponentially Weighted window

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [16]:
pd.datetime.now().month

/tmp/ipykernel_1218/880839337.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  pd.datetime.now().month

6

In [17]:
pd.datetime.now().year

/tmp/ipykernel_1218/3056029991.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  pd.datetime.now().year

2023